[user]
  name = Elliott Foster
  email = elliottf@codebrews.com
  signingkey = 2EA7C6DD

[color]
  diff = auto

[alias]
  ci = commit -S
  co = checkout
  st = status
  lg = log --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%Creset' --abbrev-commit --date=relative

[core]
  editor = vim
  excludesfile = ~/.gitignore_global
